$main-bg-color: #116286;
$menu-bg-color: #116286;
$layout-bg-color: #e7ecef;
$menu-item-bg-color: #116286;
$menu-item-bg-hover-color: #4485a1;
$menu-item-color: #e5e5e5;

$button-primary-bg-color: #60c71c;

