//------ main layout ------
$window-height:1024px;
$window-width:1280px;
$page-width :980px;
$page-height:904px;

//------- menu ------
$menu-width:300px;
$menu-height:1024px;
$menu-item-width:calc($menu-width - 60px);

//------- top-bar -----
$top-bar-height:120px;